<p id="notice"><%= notice %></p>

<h1>Listing Inactive Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_weeks.each do |inactive_week| %>
      <tr>
        <td><%= inactive_week.start %></td>
        <td><%= inactive_week.end %></td>
        <td><%= inactive_week.number %></td>
        <td><%= link_to 'Show', inactive_week %></td>
        <td><%= link_to 'Edit', edit_inactive_week_path(inactive_week) %></td>
        <td><%= link_to 'Destroy', inactive_week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inactive week', new_inactive_week_path %>
