<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @inactive_week.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @inactive_week.end %>
</p>

<p>
  <strong>Number:</strong>
  <%= @inactive_week.number %>
</p>

<%= link_to 'Edit', edit_inactive_week_path(@inactive_week) %> |
<%= link_to 'Back', inactive_weeks_path %>
