<p id="notice"><%= notice %></p>

<h1>Listing Garbage Bags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garbage_bags.each do |garbage_bag| %>
      <tr>
        <td><%= garbage_bag.name %></td>
        <td><%= garbage_bag.status %></td>
        <td><%= garbage_bag.user %></td>
        <td><%= link_to 'Show', garbage_bag %></td>
        <td><%= link_to 'Edit', edit_garbage_bag_path(garbage_bag) %></td>
        <td><%= link_to 'Destroy', garbage_bag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garbage bag', new_garbage_bag_path %>
